/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-search-meter-popular-searches > h2 {
	margin-block-start: 0;
    margin-block-end: 0;
}

.wp-block-search-meter-popular-searches > ul {
	list-style: none;
	padding-left: 0;
}
